
.login-container {
    width: 'auto';
    display: 'block';
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    &__paper {
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 15px 15px;
    }
    &__avatar {
    }
    &__form {
        width: 100%;
        margin-top: 15px;
    }
    &__button {
        margin-top: 15px;
    }
    &__link {

    }
    &__social-buttons-container {
        &__element-container {
            
        }
    }
}
